/.vscode
/build
/.vs
/src/Impostor.Plugins.Debugger/Properties/launchSettings.json
/tools
packages-lock.json
.local/
*.json
src/Impostor.Api.Innersloth.Generator/packages.lock.json
src/Impostor.Api/packages.lock.json
src/Impostor.Benchmarks/packages.lock.json
src/Impostor.Client.App/packages.lock.json
src/Impostor.Client/packages.lock.json
src/Impostor.Plugins.Debugger/packages.lock.json
src/Impostor.Plugins.Example/packages.lock.json
src/Impostor.Server/packages.lock.json
src/Impostor.Tests/packages.lock.json
src/Impostor.Tools.Proxy/packages.lock.json
src/Impostor.Tools.ServerReplay/packages.lock.json
src/Impostor.Api.Innersloth.Generator/packages.lock.json
src/Impostor.Api/packages.lock.json
src/Impostor.Benchmarks/packages.lock.json
src/Impostor.Client.App/packages.lock.json
src/Impostor.Client/packages.lock.json
src/Impostor.Plugins.Debugger/packages.lock.json
src/Impostor.Plugins.Example/packages.lock.json
src/Impostor.Server/packages.lock.json
src/Impostor.Tests/packages.lock.json
src/Impostor.Tools.Proxy/packages.lock.json
src/Impostor.Tools.ServerReplay/packages.lock.json
src/Impostor.Api.Innersloth.Generator/packages.lock.json
src/Impostor.Api/packages.lock.json
src/Impostor.Benchmarks/packages.lock.json
src/Impostor.Client.App/packages.lock.json
src/Impostor.Client/packages.lock.json
src/Impostor.Plugins.Debugger/packages.lock.json
src/Impostor.Plugins.Example/packages.lock.json
src/Impostor.Server/packages.lock.json
src/Impostor.Tests/packages.lock.json
src/Impostor.Tools.Proxy/packages.lock.json
src/Impostor.Tools.ServerReplay/packages.lock.json
src/Impostor.Api.Innersloth.Generator/packages.lock.json
src/Impostor.Api/packages.lock.json
src/Impostor.Benchmarks/packages.lock.json
src/Impostor.Client.App/packages.lock.json
src/Impostor.Client/packages.lock.json
src/Impostor.Plugins.Debugger/packages.lock.json
src/Impostor.Plugins.Example/packages.lock.json
src/Impostor.Server/packages.lock.json
src/Impostor.Tests/packages.lock.json
src/Impostor.Tools.Proxy/packages.lock.json
src/Impostor.Tools.ServerReplay/packages.lock.json
